<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
  <add name="ConnectionString" connectionString="
       Password=Shag1115;
       Persist Security Info=True;
       User ID=sa;
       Initial Catalog=NORTHWNDSDP-162;
       Data Source=sql"/>
  </connectionStrings>
</configuration>